{% extends 'taban.html' %}

{% block baslik %}{{ baslik|title }} - Audio Elektronik{% endblock %}
{% block aciklama %}{{ baslik|title }}, bu ürünlerle binanızda şık bir şekilde dahili iletişim yapabilirsiniz.{% endblock %}
{% block icerik %}
<!--KONSEPT-->
{% if konsept %}
{% if basic or ortak %}
{% include "kategori_liste.html" with sira=2 sira_grid=28 sira_grid_inner=26 sira_grid_push=1 seri='konsept' urun_listesi=konsept %}
{% else %}
{% include "kategori_liste.html" with sira=1 sira_grid=56 sira_grid_inner=52 sira_grid_push=2 seri='konsept' urun_listesi=konsept %}
{% endif %} 
{% endif %}

<!--BASIC-->
{% if basic %}
{% if konsept or ortak %}
{% include "kategori_liste.html" with sira=2 sira_grid=28 sira_grid_inner=26 sira_grid_push=1 seri='basic' urun_listesi=basic %}
{% else %}
{% include "kategori_liste.html" with sira=1 sira_grid=56 sira_grid_inner=52 sira_grid_push=2 seri='basic' urun_listesi=basic %}
{% endif %} 
{% endif %}

{% if basic and konsept %}
<div class="clear"></div>
{% endif %}

<!--ORTAK-->
{% if ortak %}
{% if basic and konsept or not konsept and not basic %}
{% include "kategori_liste.html" with sira=1 sira_grid=56 sira_grid_inner=52 sira_grid_push=2 seri='ortak' urun_listesi=ortak %}
{% else %}
{% include "kategori_liste.html" with sira=2 sira_grid=28 sira_grid_inner=26 sira_grid_push=1 seri='ortak' urun_listesi=ortak %}
{% endif %}
{% endif %}
<div class="clear"></div>
{% endblock %}
