{% load fb_versions %}
{% load ortakVeri %}
<div class="grid_12 alpha">
 <div class="grid_12 centered"><img src="{{ STATIC_CODE }}resim/{{ seri }}.jpg"/></div>
 <div class="grid_12 centered">
  {% for p in panel %}
  <a href='/urun/{{ p.slug }}' style="margin-right:4px;">
   <img src="{% version p.resim.path 'panel_ufak' %}"/>
  </a>
  {% endfor %}
 </div>
 <div class="grid_11 push_1">
  <div class="grid_11 topd"></div>
  <strong style='text-transform:capitalize'>{{ seri }} serisi paneller</strong>
  {% for p in panel %}
  <div class="grid_11">- {{ p.isim }}</div>
  {% endfor %}
 </div> 
</div>
