{% extends 'taban.html' %}
{% load fb_versions %}
{% load truncate %}

{% block baslik %}{{ urun.isim }}, {{ urun.kategori.isim|title}} - Audio Elektronik{% endblock %}
{% block aciklama %}{{ urun.isim|title }}, {{ urun.kategori.isim|title }}. {{ urun.ozellik.all|join:', '|chars:120 }}{% endblock %}

{% block icerik %}
{% include 'tekli_ac.html' %}
 <div class="grid_53 push_2">
  {% if urun.seri %}
  <img style="float:left;" src="{{ STATIC_CODE }}resim/{{ urun.seri }}.jpg" />
  {% endif %}
  <h2 style='margin-bottom:0px;'>{{ urun.isim }}</h3>
 </div>
 <div class="grid_27 push_1 alpha">
  <div class="grid_27 centered">
   <a href={% version urun.resim.path 'limit' %} class="tek_resim"><img src="{% version urun.resim.path 'urun' %}"/></a>
  </div>
  <div class='grid_26' style='text-align:right'>
   {{ urun.resim_yazi }}
  </div>
  {% if urun.digermodel_set.all %}
  <div class='grid_27 push_1'><strong>Diğer Modeller</strong></div>
  <div class='grid_27'>
   {% for u in urun.digermodel_set.all %}
   <div class='grid_9'>
   <div class='grid_9 topd'></div>
    <div class='grid_9 centered'>
     <a href={% version u.resim.path 'limit' %} class="tek_resim"><img src='{% version u.resim.path 'diger_model' %}'/></a>
    </div>
    <div class='grid_8' style='text-align:right;'>
     {{ u.aciklama }}
    </div>   
   </div>
   {% endfor %}
  </div>
  {% endif %}
 </div>
 <div class="grid_23 push_1"> 
  <div class="grid_23">
   <div class="grid_23">
    <strong>Ürün Özellikleri</strong>
   </div>
   <div class="grid_23 topd"></div>
   {% for ozellik in urun.ozellik.all %}
   <div class="grid_23">- {{ ozellik.isim }}</div>
   {% endfor %}
  </div>
  <div class="grid_22" style='margin-top:10px;'>
   <div class="grid_22 topd"></div>
    {% autoescape off %}
    {{ urun.tanitim }}
    {% endautoescape %}
  </div>
 </div>
   
 <div class="grid_4 push_1 omega">
  {% for d in dokuman %}
  <div class="grid_4 centered" style='margin-top:10px;'>
   <div class="grid_4">
    <a href='/dokuman/{{ d.slug }}'><img src="{% version d.resim.path 'dokuman_ufak' %}"/></a>
   </div>
   <div class="grid_4">
    <a class='sade_link' href='/dokuman/{{ d.slug }}'>{{ d.isim }}</a>
   </div>
  </div>
  <div class='grid_4'style='height:10px;'></div>
  {% endfor %}

  <div class="grid_4 centered" style='margin-top:10px;'>
   <div class="grid_4" style="border: solid 1px; padding-bottom: 2px;">
    <a style="color:#12C;" href="/baglanti-semalari/">Bağlantı Şemaları</a>
   </div>
  </div>
 </div>
{% include 'tekli_kapat.html' %}

{% if panelKonsept or panelBasic %}
{% include 'sistem_liste_urun.html' with sira=2 sira_grid=28 sira_grid_inner=25 sira_grid_push=2 tanitim_grid=18 %}
{% if panelKonsept or panelBasic %}
 {% include 'ikili_ac.html' %}
  <div class="grid_28 topd"></div>
  <div class="grid_28 centered"><strong>Bu Ürün İle Kullanabileceğiniz Paneller</strong></div>
  <div class="grid_28 topd"></div>
  <div class="grid_24 {% if panelKonsept and panelBasic %}push_2{% else %}push_7{% endif %} ">
   {% if panelKonsept %}
   {% include 'panel_liste.html' with seri='konsept' panel=panelKonsept %}
   {% endif %}
   {% if panelBasic %}
   {% include 'panel_liste.html' with seri='basic' panel=panelBasic %}
   {% endif %}
   <div class='grid_24 alpha omega' style='height:20px'></div>
  </div>
 {% include 'ikili_kapat.html' %}
{% endif %}
<div class="clear"></div>
{% else %}
{% include 'sistem_liste_urun.html' with sira=1 sira_grid=56 sira_grid_inner=40 sira_grid_push=8 tanitim_grid=33 %}
<div class="clear"></div>
{% endif %}

{% endblock %}
