/* Generated classes for django-media-bundler sprites.  Don't edit! */

.news {
     background-image: url('http://s.aucdn.net/resim/newslmtfpm.png');
}

.news-yeni_fiyat_listesi01_lcf_haber_ufak-jpg {
     width: 39px;
     background-position: 0px 0px;
     height: 55px;
}

.news-65x95_haber_ufak-jpg {
     width: 37px;
     background-position: -39px 0px;
     height: 55px;
}

.news-scan0003_hpf_haber_ufak-jpg {
     width: 65px;
     background-position: 0px -55px;
     height: 48px;
}

.news-bus_plus_haber_ufak-jpg {
     width: 65px;
     background-position: 0px -103px;
     height: 22px;
}
