/* Generated classes for django-media-bundler sprites.  Don't edit! */

.panels {
     background-image: url('http://s.aucdn.net/resim/panels60tgk2.png');
}

.panels-konsept_altlik_ikili_j19_panel_ufak-jpg {
     width: 105px;
     background-position: 0px 0px;
     height: 110px;
}

.panels-basic_altlik_ikili_5ha_panel_ufak-jpg {
     width: 98px;
     background-position: -105px 0px;
     height: 110px;
}

.panels-konsept_goruntusuz_panel_ufak-jpg {
     width: 33px;
     background-position: -203px 0px;
     height: 110px;
}

.panels-basic_panel_iki201211_panel_ufak-jpg {
     width: 54px;
     background-position: 0px -110px;
     height: 110px;
}

.panels-dijital_lux_panel_panel_ufak-jpg {
     width: 44px;
     background-position: -54px -110px;
     height: 110px;
}

.panels-basic_goruntulu_butonlu_panel_ufak-jpg {
     width: 44px;
     background-position: -98px -110px;
     height: 110px;
}

.panels-basic_dijital_goruntulu_panel_ufak-jpg {
     width: 40px;
     background-position: -142px -110px;
     height: 110px;
}

.panels-basic_karma_goruntulu_n_panel_ufak-jpg {
     width: 40px;
     background-position: -182px -110px;
     height: 110px;
}

.panels-konsept_dijital_goruntulu_panel_ufak-jpg {
     width: 38px;
     background-position: 0px -220px;
     height: 110px;
}
