/* Generated classes for django-media-bundler sprites.  Don't edit! */

.products {
     background-image: url('http://s.aucdn.net/resim/productsp3pmba.png');
}

.products-basic_gt_kapali_yeni_ufak-jpg {
     width: 72px;
     background-position: 0px 0px;
     height: 75px;
}

.products-konsept_gdl_antrasit_tuslu_yeni_ufak-jpg {
     width: 90px;
     background-position: -72px 0px;
     height: 74px;
}

.products-bronz_tussuz_35_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -75px;
     height: 53px;
}

.products-antrasit_tuslu_35_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -128px;
     height: 53px;
}

.products-gdl_villa_kit_yeni_e06_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -181px;
     height: 51px;
}
