{% load truncate %}
{% load humanize %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
	<title>Audio Elektronik</title>
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% compress css %}	
	<link rel='stylesheet' href='{{ STATIC_CODE }}css/bootstrap.css'>
	<link rel='stylesheet' href='{{ STATIC_CODE }}css/redmond/jquery-ui-1.8.17.custom.css'>
	<style type='text/css'>
		.copy {
			width: 14px;
			height: 14px;
			overflow: hidden;
			z-index: 0;
			position: relative;
		}			
		ul.unstyled {
			margin: 0;
		}
		#main {
			margin-bottom: 200px;
		}
		.twipsy-inner {
			text-align: left;
		}
		.twipsy-inner dl{
			margin-bottom: 0;
		}
		.twipsy-label {
			color: #ffc40d;
			font-weight: bold;
		}
		.twipsy-text {
			color: #ffffff;
		}
		.yapildi-label {
			font-weight: bold;
		}
		.popover form {
			margin-bottom: 0px;
		}
		.edit, .close, .dosya-dialog, .durum-dialog {
			cursor: pointer;
		}
		.donduruldu {
			background-color: #000000;
		}
		.teklif-verildi, .yonlendirildi{
			background-color: #62cffc;
		}
		.delege-edildi {
			background-color: #f89406;
		}
		.iptal, .isi-aldk, .isi-kaybettik{
			background-color: #46a546;
		}
		.eylem-yaplmad {
			background-color: #c43c35;
		}
		.iletisime-gecildi {
			background-color: #87afc7;
		}
		.new-header {
			cursor: pointer;
		}
		.pk .static {
			font-weight:bold;
		}
		#loading {
			position: absolute;
		}
		.indicator {
			text-transform: capitalize;
			color: #000000;
		}
		.twipsy {
			z-index: 900;
		}
		.popover {
			z-index: 1200;
		}
		.topbar {
			z-index: 1000;
		}

		/* Hidden containers will be opened up by javascript*/
		.container, .topbar {
			opacity: 0.1;
			filter: alpha(opacity = 10);
		}

		table .headerSortDown{
			background-color:#ADE6FE;
		}
		table .headerSortUp{
			background-color:#ADE6FE;
		}
		form .clearfix {
			margin-bottom: 4px;
		}
		body {
			padding-top: 60px;
		}
	</style>
	{% endcompress %}
	{% compress js %}
	<script type='text/javascript' src='{{ STATIC_CODE }}js/jquery-1.7.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/bootstrap-twipsy.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/bootstrap-popover.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/bootstrap-dropdown.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/bootstrap-alerts.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/jquery.quicksearch.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/jquery.tablesorter.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/jquery.form.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/jquery.color.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/jquery-ui-1.8.17.custom.min.js'></script>
	<script type='text/javascript' src='{{ STATIC_CODE }}js/offers.js'></script>
	{% endcompress %}
	<script type='text/javascript' src='http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-tr.js'></script>
	<script type='text/javascript'>
		{% if pk %}
		var focusOn = {{ pk }}
		{% else %}
		var focusOn = 0
		{% endif %}
	</script>
</head>
<body>
<div id="progress" style="position:fixed; margin-left:40px;">
	<div style="border-style:solid;height:20px; width:500px">
		<div id="bar" style="height:100%; width: 5%; background:#62CFFC"></div>
	</div>
	<p><span id="load-info">Alanlar yukleniyor</span>, lutfen bekleyin...</p>
</div>
<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="#">Audio Teklif</a>
			<ul class="nav">
<!-- Future feature 
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">Grafik</a>
					<ul class="dropdown-menu">
						<li><a>Tamamdir</a></li>
					</ul>
				</li>
-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">Filtre</a>
					<ul class="dropdown-menu">
						<li><a href='#' onclick='sifirla();'>Sifirla</a></li>
						<li class='divider'></li>
						<li>
							<a  href='#' rel='popover' data-search='#search-tarih' 
							data-original-title='Tarih Filtresi' class='filter'>Tarih</a>
						</li>

						<li>
							<a  href='#' rel='popover' data-search='#search-sehir' 
							data-original-title='Sehir Filtresi' class='filter'>Sehir</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-sorumlu' 
								data-original-title='Sorumlu Filtresi' class='filter'>Sorumlu</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-durum' 
								data-original-title='Durum Filtresi' class='filter'>Durum</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-dosya'
								data-original-title='Teklif Filtresi' class='filter'>Teklif</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-daire'
								data-original-title='Daire Filtresi' class='filter'>Daire</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-tutar'
								data-original-title='Tutar Filtresi' class='filter'>Tutar</a>
						</li>
					</ul>
            	</li>
			</ul>
			<form class="pull-left">
				<input id="search" type="text" placeholder="Arama" class='span3'>
				<img class='loading' alt='ajax yukleniyor' style='display:none;' src='http://s.aucdn.net/resim/ajax-small.gif'>
			</form>
			<ul class="secondary-nav">
				<li><a href='/logout'>[{{ request.user.first_name }}]</a></li>
				<li><a id='sum-sayi'></a></li>
				<li><a id='sum-daire'></a></li>
				<li><a id='sum-tutar'></a></li>
			</ul>
		</div>
	</div>
</div>

<div class='container'>

	<div class='alert-message success' style='display:none;text-align:right'>
		<div style='float:left; margin-top:0px;'>
			<strong><span id='new-count'>0</span> tane yeni teklif var!</strong> 
			Yandaki butona basarak goruntuleyebilirsiniz.
		</div>
    	<span class="btn primary small" onclick="unleash()">Goruntule</span>
	</div>

	<div id='new-stack' class='hide'></div>

	<div id='search-dosya' class='hide'>
		<select style='margin-bottom:10px' class='span3' 
				onchange='update_filter("#search-dosya select", this, search_dosya);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="true">Var</option>
			<option value="false">Yok</option>
		</select>
	</div>

	<div id='search-durum' class='hide'>
		<select style='margin-bottom:10px' class='span3' 
				onchange='update_filter("#search-durum select", this, search_durum);'>
			<option value="-">Hepsi</option>
			<option value="Eylem İletişime Delege Teklif Yönlendirildi" selected="selected">Acik Isler</option>
			<option value="Aldık Kaybettik İptal Donduruldu">Kapali Isler</option>
			<option value="Eylem Yapılmadı">Eylem Yapilmadi</option>
			<option value="İletişime Geçildi">İletişime Geçildi</option>
			<option value="Delege Edildi">Delege Edildi</option>
			<option value="Teklif Verildi">Teklif Verildi</option>
			<option value="Yönlendirildi">Yönlendirildi</option>
			<option value="Aldık">İşi Aldık</option>
			<option value="Kaybettik">İşi Kaybettik</option>
			<option value="İptal">İptal</option>
			<option value="Donduruldu">Donduruldu</option>
		</select>
	</div>

	<div id='search-daire' class='hide'>
		<select style='margin-bottom:10px' class='span3 exists'
				onchange='update_filter("#search-daire select.exists", this, search_daire);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="true">Var</option>
			<option value="false">Yok</option>
		</select>
		<select style='margin-bottom:10px' class='span3 bigger'
				onchange='update_filter("#search-daire select.bigger", this, search_daire);'>
			<option value=">-" selected="selected">Hepsi</option>
			<option value=">5">5</option>
			<option value=">10">10</option>
			<option value=">50">50</option>
			<option value=">100">100</option>
			<option value=">150">150</option>
			<option value=">200">200</option>
			<option value=">250">250</option>
			<option value=">300">300</option>
			<option value=">350">350</option>
			<option value=">400">400</option>
			<option value=">450">450</option>
			<option value=">500">500</option>
			<option value=">1000">1000</option>
			<option value=">1500">1500</option>
			<option value=">2000">2000</option>
		</select> den buyuk
		<select style='margin-bottom:10px' class='span3 smaller'
				onchange='update_filter("#search-daire select.smaller", this, search_daire);'>
			<option value="<-" selected="selected">Hepsi</option>
			<option value="<5">5</option>
			<option value="<10">10</option>
			<option value="<50">50</option>
			<option value="<100">100</option>
			<option value="<150">150</option>
			<option value="<200">200</option>
			<option value="<250">250</option>
			<option value="<300">300</option>
			<option value="<350">350</option>
			<option value="<400">400</option>
			<option value="<450">450</option>
			<option value="<500">500</option>
			<option value="<1000">1000</option>
			<option value="<1500">1500</option>
			<option value="<2000">2000</option>
		</select> den kucuk
	</div>

	<div id='search-tutar' class='hide'>
		<select style='margin-bottom:10px' class='span3 exists'
				onchange='update_filter("#search-tutar select.exists", this, search_tutar);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="true">Var</option>
			<option value="false">Yok</option>
		</select>
		<select style='margin-bottom:10px' class='span3 bigger'
				onchange='update_filter("#search-tutar select.bigger", this, search_tutar);'>
			<option value=">-" selected="selected">Hepsi</option>
			<option value=">500">500</option>
			<option value=">1000">1,000</option>
			<option value=">5000">5,000</option>
			<option value=">10000">10,000</option>
			<option value=">50000">50,000</option>
			<option value=">100000">100,000</option>
		</select> den buyuk
		<select style='margin-bottom:10px' class='span3 smaller'
				onchange='update_filter("#search-tutar select.smaller", this, search_tutar);'>
			<option value="<-" selected="selected">Hepsi</option>
			<option value="<500">500</option>
			<option value="<1000">1,000</option>
			<option value="<5000">5,000</option>
			<option value="<10000">10,000</option>
			<option value="<50000">50,000</option>
			<option value="<100000">100,000</option>
		</select> den kucuk
	</div>

	<div id='search-tarih' class='hide'>
		<select style='margin-bottom:10px' class='span3 bigger'
				onchange='update_filter("#search-tarih select.bigger", this, search_tarih);'>
			<option value=">-" selected="selected">Hepsi</option>
			<option value=">734451">5 Kasim 2011</option>
			<option value=">734456">10 Kasim 2011</option>
			<option value=">734461">15 Kasim 2011</option>
			<option value=">734466">20 Kasim 2011</option>
			<option value=">734471">25 Kasim 2011</option>
			<option value=">734476">30 Kasim 2011</option>
			<option value=">734482">5 Aralik 2011</option>
			<option value=">734487">10 Aralik 2011</option>
			<option value=">734492">15 Aralik 2011</option>
			<option value=">734497">20 Aralik 2011</option>
			<option value=">734502">25 Aralik 2011</option>
			<option value=">734507">30 Aralik 2011</option>
			<option value=">734512">5 Ocak 2012</option>
			<option value=">734517">10 Ocak 2012</option>
			<option value=">734522">15 Ocak 2012</option>
			<option value=">734527">20 Ocak 2012</option>
			<option value=">734532">25 Ocak 2012</option>
			<option value=">734537">30 Ocak 2012</option>
			<option value=">734542">5 Subat 2012</option>
			<option value=">734547">10 Subat 2012</option>
			<option value=">734552">15 Subat 2012</option>
		</select> den sonra
		<select style='margin-bottom:10px' class='span3 smaller'
				onchange='update_filter("#search-tarih select.smaller", this, search_tarih);'>
			<option value="<-" selected="selected">Hepsi</option>
			<option value="<734451">5 Kasim 2011</option>
			<option value="<734456">10 Kasim 2011</option>
			<option value="<734461">15 Kasim 2011</option>
			<option value="<734466">20 Kasim 2011</option>
			<option value="<734471">25 Kasim 2011</option>
			<option value="<734476">30 Kasim 2011</option>
			<option value="<734482">5 Aralik 2011</option>
			<option value="<734487">10 Aralik 2011</option>
			<option value="<734492">15 Aralik 2011</option>
			<option value="<734497">20 Aralik 2011</option>
			<option value="<734502">25 Aralik 2011</option>
			<option value="<734507">30 Aralik 2011</option>
			<option value="<734512">5 Ocak 2012</option>
			<option value="<734517">10 Ocak 2012</option>
			<option value="<734522">15 Ocak 2012</option>
			<option value="<734527">20 Ocak 2012</option>
			<option value="<734532">25 Ocak 2012</option>
			<option value="<734537">30 Ocak 2012</option>
			<option value="<734542">5 Subat 2012</option>
			<option value="<734547">10 Subat 2012</option>
			<option value="<734552">15 Subat 2012</option>
		</select> den once
	</div>

	<div id='search-sehir' class='hide'>
		<select style='margin-bottom:10px' class='span3' 
				onchange='update_filter("#search-sehir select", this, search_sehir);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="Adana Osmaniye Hatay">Adana Bolge</option>
			<option value="Ankara Bolu Çankırı Kırşehir Çorum Yozgat Kırıkkale">Ankara Bolge</option>
			<option value="Antalya Burdur Isparta">Antalya Bolge</option>
			<option value="Bursa Balıkesir Çanakkale Yalova">Bursa Bolge</option>
			<option value="Diyarbakır Elazığ Tunceli Bingöl Mardin Batman Muş Bitlis Siirt Şırnak Hakkari Van Ağrı Iğdır">Diyarbakir Bolge</option>
			<option value="Eskişehir Afyon Kütahya Bilecik">Eskisehir Bolge</option>
			<option value="Gaziantep Şanlıurfa Kilis">Gaziantep Bolge</option>
			<option value="(An...">Istanbul Anadolu Bolge</option>
			<option value="(Av...">Istanbul Rumeli Bolge</option>
			<option value="Izmir Manisa Uşak Denizli Aydın Muğla">Izmir Bolge</option>
			<option value="Kayseri Nevşehir Sivas">Kayseri Bolge</option>
			<option value="Kocaeli Sakarya Düzce Zonguldak Bartın Karabük">Kocaeli Bolge</option>
			<option value="Konya Karaman Aksaray Niğde">Konya Bolge</option>
			<option value="Malatya Kahramanmaraş Adıyaman">Malatya Bolge</option>
			<option value="Mersin">Mersin Bolge</option>
			<option value="Samsun Sinop Kastamonu Amasya Tokat Ordu">Samsun Bolge</option>
			<option value="Trabzon Giresun Gümüşhane Bayburt Rize Erzurum Artvin Ardahan Erzincan Kars">Trabzon Bolge</option>
			<option value="Tekirdağ Edirne Kırklareli">Trakya Bolge</option>
			<option value="Adana">Adana</option>
			<option value="Adıyaman">Adıyaman</option>
			<option value="Afyonkarahisar">Afyonkarahisar</option>
			<option value="Ağrı">Ağrı</option>
			<option value="Aksaray">Aksaray</option>
			<option value="Amasya">Amasya</option>
			<option value="Ankara">Ankara</option>
			<option value="Antalya">Antalya</option>
			<option value="Ardahan">Ardahan</option>
			<option value="Artvin">Artvin</option>
			<option value="Aydın">Aydın</option>
			<option value="Balıkesir">Balıkesir</option>
			<option value="Bartın">Bartın</option>
			<option value="Batman">Batman</option>
			<option value="Bayburt">Bayburt</option>
			<option value="Bilecik">Bilecik</option>
			<option value="Bingöl">Bingöl</option>
			<option value="Bitlis">Bitlis</option>
			<option value="Bolu">Bolu</option>
			<option value="Burdur">Burdur</option>
			<option value="Bursa">Bursa</option>
			<option value="Çanakkale">Çanakkale</option>
			<option value="Çankırı">Çankırı</option>
			<option value="Çorum">Çorum</option>
			<option value="Denizli">Denizli</option>
			<option value="Diyarbakır">Diyarbakır</option>
			<option value="Düzce">Düzce</option>
			<option value="Edirne">Edirne</option>
			<option value="Elazığ">Elazığ</option>
			<option value="Erzincan">Erzincan</option>
			<option value="Erzurum">Erzurum</option>
			<option value="Eskişehir">Eskişehir</option>
			<option value="Gaziantep">Gaziantep</option>
			<option value="Giresun">Giresun</option>
			<option value="Gümüşhane">Gümüşhane</option>
			<option value="Hakkari">Hakkari</option>
			<option value="Hatay">Hatay</option>
			<option value="Iğdır">Iğdır</option>
			<option value="Isparta">Isparta</option>
			<option value="Mersin">Mersin</option>
			<option value="(An...">İstanbul (Anadolu)</option>
			<option value="(Av...">İstanbul (Avrupa)</option>
			<option value="Izmir">İzmir</option>
			<option value="Karabük">Karabük</option>
			<option value="Kars">Kars</option>
			<option value="Kastamonu">Kastamonu</option>
			<option value="Kayseri">Kayseri</option>
			<option value="Kırklareli">Kırklareli</option>
			<option value="Kırşehir">Kırşehir</option>
			<option value="Kocaeli">Kocaeli</option>
			<option value="Konya">Konya</option>
			<option value="Kütahya">Kütahya</option>
			<option value="Malatya">Malatya</option>
			<option value="Manisa">Manisa</option>
			<option value="Kahramanmaraş">Kahramanmaraş</option>
			<option value="Karaman">Karaman</option>
			<option value="Kırıkkale">Kırıkkale</option>
			<option value="Kilis">Kilis</option>
			<option value="Mardin">Mardin</option>
			<option value="Muğla">Muğla</option>
			<option value="Muş">Muş</option>
			<option value="Nevşehir">Nevşehir</option>
			<option value="Niğde">Niğde</option>
			<option value="Ordu">Ordu</option>
			<option value="Osmaniye">Osmaniye</option>
			<option value="Rize">Rize</option>
			<option value="Sakarya">Sakarya</option>
			<option value="Samsun">Samsun</option>
			<option value="Siirt">Siirt</option>
			<option value="Sinop">Sinop</option>
			<option value="Sivas">Sivas</option>
			<option value="Şırnak">Şırnak</option>
			<option value="Tekirdağ">Tekirdağ</option>
			<option value="Tokat">Tokat</option>
			<option value="Trabzon">Trabzon</option>
			<option value="Tunceli">Tunceli</option>
			<option value="Şanlıurfa">Şanlıurfa</option>
			<option value="Uşak">Uşak</option>
			<option value="Van">Van</option>
			<option value="Yalova">Yalova</option>
			<option value="Yozgat">Yozgat</option>
			<option value="Zonguldak">Zonguldak</option>
		</select>
	</div>

	<div id='search-sorumlu' class='hide'>
		<select style='margin-bottom:10px' class='span3' 
				onchange='update_filter("#search-sorumlu select", this, search_sorumlu);'>
			<option value="-" selected="selected">Hepsi</option>
			{% for sorumlu in sorumlular %}
				<option value="{{ sorumlu.username }}">{{ sorumlu.first_name }} {{ sorumlu.last_name }}</option>
			{% endfor %}
		</select>
	</div>

	<ul id="filter-indicator" class="breadcrumb" style="display:none;">
		<li>
			<span>Aktif Filtreler</span> <span class="divider">/</span>
		</li>
	</ul>

	<table id='main' class="bordered-table">
		<thead>
			<tr>
				<th>#</th>
				<th class='orange'>Ax</th>
				<th class='green'>Tarih</th>
				<th class='yellow'>Musteri</th>
				<th class='red'>Mesaj</th>
				<th class='purple'>Sehir</th>
				<th class='blue'>Sorumlu</th>
				<th class='green'>Durum</th>
				<th class='orange'>Teklif</th>
				<th class='blue'>Daire</th>
				<th class='purple'>Tutar</th>
			</tr>
		</thead>
		<tbody>
			{% for offer in offers %}
				{% include 'offer.html' with offer=offer %}
			{% endfor %}
		</tbody>
	</table>
</div>
</body>
</html>	
