{% spaceless %}
{% load truncate %}
{% load humanize %}
{% if offer %}
<tr data-pk='{{ offer.pk }}'>
	<td class='pk'>
		<span class='static'   data-original-title='<span class="twipsy-label">Son eylem yapilali:</span>
													<span class="twipsy-text">
													{{ offer.son_eylem|timesince }}</span>'>
		{{ offer.pk }}
		</span>
		<div class='last-action' style='display:none;' >{%if offer.durum.kapali%}{%now "Y-m-d-H"%}{%else%}{{offer.son_eylem|date:'Y-m-d-H'}}{%endif%}</div>
	</td>
	<td>
		{% if offer.axapta %}
	<div class='static copy' data-original-title='<ul class="unstyled"><li><span class="twipsy-label">Is iliskisi no: </span><span class="twipsy-text">{{ offer.axapta }}</span></li><li>Kopyalamak icin tiklayin</li></ul>'>
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
            width="110"
            height="14"
            id="clippy" >
    <param name="movie" value="/statik/clippy.swf"/>
    <param name="allowScriptAccess" value="always" />
    <param name="quality" value="high" />
    <param name="scale" value="noscale" />
	<param name="wmode" value="opaque" />
    <param NAME="FlashVars" value="text={{offer.axapta}}">
    <param name="bgcolor" value="#FFFFFF">
    <embed src="/statik/clippy.swf"
           width="110"
           height="14"
           name="clippy"
           wmode="opaque" 	
           quality="high"
           allowScriptAccess="always"
           type="application/x-shockwave-flash"
           pluginspage="http://www.macromedia.com/go/getflashplayer"
           FlashVars="text={{offer.axapta}}"
           bgcolor="#FFFFFF"
    />
    </object></div>
		{% else %}
		<span class='edit' data-form='axapta' data-original-title='Axapta Is Iliskisi No'>x</span>
		{% endif %}
	</td>

	<td>
		<span  class='static'  data-original-title='{{ offer.bilgi.tarih|date:"l" }} - 
													{{ offer.bilgi.tarih|timesince }} 
													once'>
		{{ offer.bilgi.tarih|date:'d/M.' }}
		</span>
		<div class='tarih' style='display:none;'>{{ offer.bilgi.tarih.toordinal }}</div>
	</td>
	<td>
		<span  class='static'  data-original-title='<ul class="unstyled"><li>
													<span class="twipsy-label">Isim:</span>
													<span class="twipsy-text">
													{{ offer.bilgi.isim }}</span></li><li>
													<span class="twipsy-label">E-Posta:
													</span><span class="twipsy-text">
													{{ offer.bilgi.email }}</span></li><li>
													<span class="twipsy-label">Telefon:
													</span><span class="twipsy-text">
													{{ offer.bilgi.telefon }}</span></li>
													</ul>'>
		{{ offer.bilgi.isim|chars:10|title }}
		</span>
	</td>
	<td>
		<div class='isim-mesaj' style='display:none;'>  {{ offer.pk }} 
														{{ offer.bilgi.isim }} 
														{{ offer.bilgi.mesaj }}</div>
		<span  class='static'  data-original-title='<span class="twipsy-label">Mesaj:
													</span><span class="twipsy-text">
													{{ offer.bilgi.mesaj|default:'Mesaj girilmemis' }}</span>'>
		{{ offer.bilgi.mesaj|chars:27|default:'Mesaj girilmemis' }}
		</span>
	</td>
	<td>
		<span class='static sehir' data-original-title='{{ offer.bilgi.sehir.isim }} {{ offer.bilgi.ilce }}'>
		{{ offer.bilgi.sehir.isim|chars:15|title }}
		</span>
	</td>
	<td>
		<span class='dynamic' data-url='sorumlu'>
			<span {% if request.user.profile.ucuncul or request.user.pk == 1 %}class="edit"{% endif %} data-form='delege' data-original-title='Delege'>
			{{ offer.temsilci.first_name|chars:14|title }} 
			</span>
		</span>
		<div class='sorumlu' style='display:none;'>{{offer.temsilci.username}}</div>
	</td>
	<td>
		<span class='durum-dialog' data-form='durum' data-original-title='Islem girisi'>
			<span data-url='yapildi' class='dynamic label {{ offer.durum.isim|slugify }}'>
			{{ offer.durum }}
			</span>
		</span>
	</td>
	<td>
		{% if offer.dosya %}
		<span class='dynamic dosya-dialog' data-url='iscilik'
			data-original-title='Teklif' data-form='dosya' data-href='{{ offer.dosya.url }}'>
			<img alt='teklif dosyasi' src='http://s.aucdn.net/resim/file.png' /> 
		</span>
		{% else %}
		<span class='edit' data-form='dosya' data-original-title='Teklif'>x</span>
		{% endif %}
	</td>
	<td>
		<span class='edit {% if offer.daire %}daire{% endif %}' data-form='daire' data-original-title='Daire'>
		{% if offer.daire %}{{ offer.daire }}{% else %}x{% endif %}
		</span>
	</td>
	<td>
		<span class='edit {% if offer.tutar %}tutar{% endif %}' data-form='tutar' data-original-title='Tutar'>
		{% if offer.tutar %}{{ offer.tutar|intcomma }}{% else %}x{% endif %}
		</span>
	</td>
</tr>
{% endif %}
{% endspaceless %}
