<ul class='unstyled'>
		{% for sorumlu in teklif.bilgi.sorumlu.all %}
		{% if sorumlu.profile.birincil or sorumlu.profile.ikincil or sorumlu.profile.ucuncul %}
		<li>
			<span class='twipsy-label'>{{ sorumlu.get_full_name }}</span> - 
			<span class='twipsy-text'>{{ sorumlu.profile.gorev }}</span>
		</li>
		{% endif %}
		{% endfor %}
</ul>
