/* General Style */
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Armata', sans-serif;
    min-height: 570px;
    min-width: 940px;
    position: relative;
}
input, select, textarea, option {
    font-family: 'Armata', sans-serif;
    border-radius: 0px;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline: none;
}
p {
    font-family: 'Armata', sans-serif;
}
.vertical {
    float: left;
    height: 50%;
    margin-top: -325px;
    width: 100%;
}
.container {
    position: relative;
}
.curtain {
    width: 100%;
    height: 1000px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1000;
    margin: 0 auto;
}
    .curtain img{
        margin: 120px auto; 
        display: block;
    }
.popover-inner, .popover-title, .popover-content{
    border-radius: 0px;
}
.btn {
    border-radius: 0px;
}
.btn:focus {
    outline: none;
}
.well {
    border-radius: 0px;
}
.orbimot {
    float: left;
    position: relative;
}
    .orbimot img {
        cursor: pointer;
    }
.undos {
    position: relative;
}
    .undos img {
        cursor: pointer;
        position: absolute;
    }
.inner-navigation {
    width: 65px;
    height: 400px;
    position: relative;
    float: left;
}
    .inner-navigation .btn {
        height: 45px;
        width: 35px;
        font-size: 34px;
    }
.jspDrag {
    background: #CFCFCF;
}
.jspTrack {
    background: #F6F6F6;
}
.jspVerticalBar {
    width: 10px;
    background-color: #FFFFFF;
}
.features {
    width: 330px;
    position: relative;
}
    .features h3 {
        text-align: center;
    }
    .features input {
        margin-bottom: 7px;
    }
    .features .right {
        position: absolute;
        right: 0px;
    }
    .features .features-title {
        position: relative;
        width: 316px;
    }
    .features ul {
        margin: 0px;
        overflow: auto;
    }
    .features ul:focus {
        outline: 0px;
    }
        .features ul li {
            position: relative;
            border-top: 1px solid #DDDDDD;
            margin-top:1px;
        }
.set {
    width: 940px;
}

/* Header Area */
#header-price-container {
    display: none;
    float: right;
    font-size: 29px;
    margin-left: 5px;
    line-height: 32px;;
}
#header-price {
    color: #5BB75B;
    display: inline-block;
}
#header-logo {
    float: right;
    margin-left: 5px;
}

/* Slide Area */
#slide-container {
    position: relative;
    width: 20000px;
    height: 400px;
}
.slide {
    position: relative;
    float: left;
    width: 2000px;
}

/* Buildings */
#buildings {
    height: 400px;
}
#buildings .orbimot {
    width: 766px;
    height: 400px;
    margin: 0px 20px;
}
#buildings-information-box {
    position: relative;
    margin: 0px auto;
    width: 200px;
    height: 71px;
    z-index: 100;
    text-align: center;
}
#buildings-information {
    font-size: 28px;
    margin-top: 15px;
    line-height: 1;
    display: inline-block;
}
    #buildings .inner-navigation .btn { 
        margin-top: 167px;
    }

/* Apartments */
#apartments {
    height: 400px;
}
#apartments-input-container {
    width: 940px;
    margin-top: 125px;
    text-align: center;
}
.apartments-input {
    width: 180px;
    margin: 0px auto;
    display: inline-block;
}
    .apartments-input label{
        font-size: 20px;
    }
    .apartments-input input {
        width: 150px;
        font-size: 60px;
        height: 110px;
        line-height: 60px;
        line-height: 110px\9;
        text-align: center;
    }

/* Preferences */
#preferences {
    height: 400px;
}
#preferences-input-container {
    width: 940px;
    margin-top: 110px;
    text-align: center;
}
.preferences-input {
    width: 200px;
    height: 130px;
    margin: 10px;
    font-size: 30px;
}

/* Monitors */
#monitors {
    height: 400px;
}
    #monitors .orbimot {
        width: 766px;
        height: 250px;
        margin: 0px 20px;
    }
    #monitors .features {
        margin: 0px auto;
    }
        #monitors .features ul {
            height: 100px;
        }
        #monitors .inner-navigation .btn {
            margin-top: 167px;
        }
.monitors.set {
    height: 400px;
}
.monitors-body {
    width: 806px;
    height: 200px;
    float: left;
}
#monitors-panel-info {
    position: absolute;
    right: 1065px;
    bottom: 10px;
    height: 113px;
    width: 150px;
}
    #monitors-panel-info img {
        margin-left: 5px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        max-width: 150px;
        vertical-align: bottom;
    }
    #monitors-panel-info .images {
        position: absolute;
        bottom: 0px;
        z-index: 1;
        right: 0px;
    }
    #monitors-panel-info strong {
        border-bottom: 1px solid #DDD;
        margin-bottom: 3px;
        float: right;
    }

/* Reflection for the monitor images
#monitors .orbimot img {
    -webkit-box-reflect: below 4px 
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(white));
}
*/

/* Panels */
#panels {
    height: 400px;
}
    #panels .orbimot {
        margin: 0px 20px;
        margin-top: 20px;
        width: 400px;
        height: 350px;
    }
    #panels .features {
        float: left;
    }
        #panels .features .features-title {
            width: 330px;
        }
.panels.set {
    height: 400px;
}
    .panels.set[data-system="plus"] .features {
        margin-left: 40px;
        margin-top: 97px;
    }
    .panels.set[data-system="plus+n"] .undos {
        width: 610px;
        height: 350px;
        float: left;
        margin-top: 20px;
    }
    .panels.set[data-system="plus+n"] .features {
        margin-top: 115px;
    }
    .panels.set[data-system="8+n"] .undos {
        width: 305px;
        height: 350px;
        float: left;
        margin: 20px 120px 0px 120px;
    }
    .panels.set[data-system="8+n"] .features {
        margin-top: 135px;
    }
    .panels.set[data-system="gts"] .undos {
        width: 305px;
        height: 350px;
        float: left;
        margin: 20px 120px 0px 120px;
    }
    .panels.set[data-system="gts"] .features {
        margin-top: 135px;
    }
    .panels.set[data-system="4+n"] .undos {
        width: 305px;
        height: 350px;
        float: left;
        margin: 20px 120px 0px 120px;
    }
    .panels.set[data-system="4+n"] .features {
        margin-top: 135px;
    }
    .panels.set[data-system="ft"] .undos {
        width: 610px;
        height: 350px;
        float: left;
        margin-top: 20px;
    }
    .panels.set[data-system="ft"] .features {
        margin-top: 135px;
    }
    .panels.set[data-system="et"] .undos {
        width: 610px;
        height: 350px;
        float: left;
        margin-top: 20px;
    }
    .panels.set[data-system="et"] .features {
        margin-top: 135px;
    }
        #panels .inner-navigation .btn {
            margin-top: 167px;
        }


/* Offer */
#offer {
    height: 400px;
}
    #offer form {
        margin-top: 10px;
        width: 540px;
        float: left;
    }
        #offer form textarea {
            height: 140px;
        }
    #offer select {
        width: 280px;
    }
#offer-information {
    width: 400px;
    float: left;
    margin-top: 30px;
}
    #offer-information .well {
        height: 75px;
    }
    #offer-information ol {
        margin-top: 10px;
    }
#offer-price-container {
    text-align: center;
    line-height: 80px;
}
#offer-price {
    color: #5BB75B;
}
#offer-feedback {
    margin-top: 20px;
}

/* Sent */
#sent {
    height: 400px;
}
    #sent div {
        width: 940px;
        text-align: center;
        margin-top: 175px;
    }
    #sent span {
        font-size: 40px;
        color: #5BB75B;
        line-height: 1;
    }

/* Villa */
#villa {
    height: 400px;
}
    #villa .orbimot {
        width: 766px;
        height: 250px;
        margin: 0px 20px;
    }
    #villa .features {
        margin: 0px auto;
    }
        #villa .features ul {
            height: 100px;
        }
        #villa .features .features-title {
            width: 330px;
        }
        #villa .inner-navigation .btn {
            margin-top: 167px;
        }
.villa-body {
    width: 806px;
    height: 200px;
    float: left;
}

/* Navigation Area */
#navigation {
    margin-top: 20px;
    position: relative;
}
    #navigation a {
        height: 45px;
        font-size: 34px;
    }
#navigation-continue {
    position: relative;
    width: 910px;
    z-index: 3;
}
#navigation-back {
    position: absolute;
    display: none;
    width: 100px;
    z-index: 4;
}
    #navigation-back.disabled {
        background-color: #EFEFEF;
    }

