{% load compress %}
{% load cache %}
{% spaceless %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
 <title>{%block baslik%}{%endblock%}</title>
 <meta name="description" content="{% block aciklama %}{% endblock %}">
 <meta http-equiv="X-UA-Compatible" content="IE=Edge" >
{% compress css %}
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/reset.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/text.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/960a.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/superfish.css" type="text/css"> 
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/taban.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/varsayilan.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/jquery.fancybox.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/anasayfa.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/form.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/sprites.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/news.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/products.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/systems.css" type="text/css">
 <link rel="stylesheet" href="{{ STATIC_CODE }}css/standlar.css" type="text/css">
{% endcompress %}

{% compress js inline %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26169028-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endcompress %}
</head>

<body>
 <div id='bkground'> 
  <div class="container_56">
  {% cache 86400 navigation %}
   <div class="grid_18 centered">
    <div class='sprites sprites-logo-jpg'></div>
   </div>  
   <div class="grid_38" style='z-index:2;'>
     <div class="grid_38 harita"></div>
     <div class="grid_38">
      {% include "menu.html" with alt_limit=1 ust_limit=6 %}
     </div>
   </div>
   <div class="clear"></div>  

   <div class="grid_56 spacer"></div>
   <div class="clear"></div> 

   <div class="grid_56 banner" id='afis' style='overflow:hidden;z-index:1;'>
    {% for a in afis %}
    <img src="{{ a.resim.url }}" alt="{{a.yazi}}" height="{{ a.resim.height }}px" width="{{ a.resim.width }}px">
    {% endfor %}
   </div>
   <div class="clear"></div>

   <div class="grid_56 spacer"></div>
   <div class="clear"></div> 

   <div class="grid_56" style='z-index:2;'>  
    {% include "menu.html" with alt_limit=7 ust_limit=13 %}
   </div>
   <div class="clear"></div>

   <div class="grid_56 spacer"></div>
   <div class="clear"></div> 
  {% endcache %}
  {% block icerik %}
  {% endblock %}

  </div>
  <div class="sprites sprites-bottom-jpg"></div>
 </div>

{% compress js %}
<script type="text/javascript" src="{{ STATIC_CODE }}js/jquery-1.7.js"></script>
<script type="text/javascript" src="{{ STATIC_CODE }}js/taban.js"></script>
<script type="text/javascript" src="{{ STATIC_CODE }}js/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="{{ STATIC_CODE }}js/superfish.js"></script>
<script type="text/javascript" src="{{ STATIC_CODE }}js/supersubs.js"></script>
<script type="text/javascript" src="{{ STATIC_CODE }}js/jquery.cycle.all.js"></script> 
<script type="text/javascript" src="{{ STATIC_CODE }}js/jquery.fancybox-1.3.4.js"></script> 
<script type="text/javascript" src="{{ STATIC_CODE }}js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ STATIC_CODE }}js/jquery-ui-1.8.16.custom.js"></script> 
<script type="text/javascript" src="{{ STATIC_CODE }}js/anasayfa.js"></script>
<script type="text/javascript" src="{{ STATIC_CODE }}js/form.js"></script>
{% endcompress %}


</body>
</html>
{% endspaceless %}
